@model IEnumerable<dynamic>

@{
    ViewBag.Title = "ListUser";
}

<h2>ListUser</h2>

<div id="clientsDb">
    @(Html.Kendo().Grid(Model)
        .Name("grid")
        .DataSource(dataSource => dataSource
        .Ajax()
        .Model(c =>
        {
            c.Id("logger_id");
            c.Field("logger_sms", typeof(int));
            c.Field("logger_sites_name", typeof(string));
            c.Field("zone_id", typeof(int));
            c.Field("zone_name", typeof(string));
            c.Field("instalation_type", typeof(string));
            c.Field("necessary_key", typeof(bool));
            c.Field("contact_detail", typeof(string));
            c.Field("status", typeof(int));

        })
        .Read(read => read.Action("Read", "Status"))
        )
        .Columns(columns =>
        {
            columns.Bound("logger_sites_name").Title("Sites Name");
            columns.Bound("logger_sms").Title("SMS");
            columns.Bound("zone_name").Width("190").Title("Zone");
            columns.Bound("status").Title("Status");
            columns.Bound("instalation_type").Width(110).Title("Instalation Type");
            columns.Bound("necessary_key").Width(110).Title("Necessary Key");
            columns.Bound("contact_detail").Width(110).Title("Contact detail");
            columns.Command(c => c.Custom("Actualizar"));

        })
            //.HtmlAttributes(new { style = "height: 380px;" })
        .Sortable()
        .Pageable(pageable => pageable
        .Refresh(true)
        .PageSizes(true)
        .ButtonCount(5))
        .Selectable(select => select.Mode(GridSelectionMode.Multiple))

    )

    @Html.Label("Seleccione los logger a agendar, Ocupe la tecla ctrl para seleccionar más de uno")
    @(Html.Kendo().Button()
        .Name("linkButton")
        .Tag("a")
        .Content("Agendar")
        .Events(e =>
        {
            e.Click("ClickCreate");
        })
    )

</div>

@Html.Label("test", new { id = "labeltest" })

<script type="text/javascript">


    function ClickCreate(e) {
        var grid = $("#grid").data("kendoGrid");
        var selectedRows = grid.select();

        var selectedDataItems = $.map(selectedRows, function (row) {
            return grid.dataItem(row);
        });
        var selectedProductNames = $.map(selectedDataItems, function (dataItem) {
            return dataItem.logger_id;
        });

        // display the ProductName field of the selected data items
        $("#labeltest").text(selectedProductNames.join(", "));
        window.location.href = "@Url.Action("PreviewInstalation", "Status")?ID=" + selectedProductNames.join(",");

    }
</script>