
@{
    ViewBag.Title = "LoggerApprove";
}


@model Poseidon.Models.Logger

@{
    ViewBag.Title = "   PreviewFormulario";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
<div id="example" align="left" class="k-content2">
    <fieldset class="k-block">

        <h3>Detalles del Sitio</h3>

        <table>

            <tr class="">
                @Html.HiddenFor(model => model.logger_id)

                @*EMPRESA*@
                <td>
                    <label for="fullname" class="required">Empresa</label>
                </td>

                <td>

                    <div class="editor-field">
                        @Html.TextBoxFor(model => model.company_id, new { style = "width: 190px", disabled = "disabled" })
                    </div>

                </td>

                @*NUMERO DE SERIE*@
                <td>
                    <label for="fullname" class="required">Número de serie</label>
                </td>

                <td>

                    @Html.TextBoxFor(model => model.logger_serial_number, new { style = "width: 190px", disabled = "disabled" })
                </td>

            </tr>

            <tr>

                @*ACCEDER AL SITIO*@
                <td>

                    <label for="fullname" class="required">¿Fue necesario acceder al sitio?</label>

                </td>

                <td>
                    <fieldset class="k-block" style="width:190px">
                        @Html.RadioButtonFor(model => model.necesary_site_enter, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                        @Html.RadioButtonFor(model => model.necesary_site_enter, "false", new { style = "width: 50px" })No

                    </fieldset>
                </td>

                @*TIPO DE INSTALACIÓN*@
                <td>
                    <label for="fullname" class="required">Tipo de instalación</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.instalation_type_logger, new { style = "width: 190px", disabled = "disabled" })

                </td>

            </tr>

            <tr>

                @*NUMERO DE TELEFONO*@
                <td>
                    <label for="fullname" class="required">Número de teléfono</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.logger_sms, new { htmlAttributes = new { style = "width: 180px", disabled = "disabled" } })
                </td>

                @*INTERPERIE*@
                <td>

                    <label for="fullname" class="required">¿Logger se encuentra a la interperie?</label>
                </td>

                <td>
                    <fieldset class="k-block">
                        @Html.RadioButtonFor(model => model.logger_outdoor, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                        @Html.RadioButtonFor(model => model.logger_outdoor, "false", new { style = "width: 50px", disabled = "disabled" })No
                    </fieldset>

                </td>

            </tr>

            @*CONDICIONES INSTALACIÓN*@
            <tr>
                <td>
                    <label for="fullname" class="required">Condiciones del Lugar de la Instalacion?</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.id_conditions_installation, new { style = "width: 190px", disabled = "disabled" })
                </td>
            </tr>

        </table>

    </fieldset>
    <br>
    <br>


    <fieldset class="k-block">

        <h3>Detalles de la Calidad de la Señal</h3>

        <table align="left">

            <tr align="left">

                @*POSICION ANTENA*@
                <td>
                    <label for="fullname" class="required">Posición de la antena</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.antenna_position, new { style = "width: 50px", disabled = "disabled" })

                    </div>
                </td>

                @*TIPO DE ANTENA*@
                <td>
                    <label for="fullname" class="required">Tipo de Antena Usada</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.antenna_type, new { style = "width: 50px", disabled = "disabled" })
                </td>

            </tr>

            <tr>

                @*FINAL CSQ*@
                <td>
                    <label for="fullname" class="required">Final Csq</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.final_csq, new { htmlAttributes = new { style = "width: 180px", disabled = "disabled" } })

                    </div>

                </td>

                @*CSQ FUERA DE CAMARA*@
                <td>
                    <label for="fullname" class="required">CSQ fuera de la Camara</label>

                </td>

                <td>
                    <fieldset class="k-block" style="width:180px">
                        @Html.RadioButtonFor(model => model.Csq_outdoor, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                        @Html.RadioButtonFor(model => model.Csq_outdoor, "false", new { style = "width: 50px", disabled = "disabled" })No


                    </fieldset>
                </td>

            </tr>

            <tr>
                @*GPRS STATUS*@
                <td>

                    <label for="fullname" class="required">Test GPRS</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.gprs_test_status, new { htmlAttributes = new { style = "width: 180px", disabled = "disabled" } })

                </td>

                @*SE PUEDE INSTALAR POSE DE ANTENA*@
                <td>
                    <label for="fullname" class="required">Se puede Instalar Poste para Antena</label>
                </td>

                <td>
                    <div>
                        <fieldset class="k-block">
                            @Html.RadioButtonFor(model => model.can_lamppost_with_antenna, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.can_lamppost_with_antenna, "false", new { style = "width: 50px", disabled = "disabled" })No
                        </fieldset>
                    </div>
                </td>

            </tr>

        </table>

    </fieldset>

    <br>
    <br>


    <fieldset class="k-block">

        <h3>Detalles de la Instalación</h3>

        <table align="left">

            <tr align="center">

                @*TIPO DE INSTALACIÓN SITE*@
                <td>
                    <label for="fullname" class="required">Tipo de Instalación</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.instalation_type, new { htmlAttributes = new { style = "width: 180px", disabled = "disabled" } })

                </td>

                @*FLUJOMETRO STATUS*@
                <td>
                    <label for="fullname" class="required">Estado del Flujómetro</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.state_flowmeter_id, new { htmlAttributes = new { style = "width: 180px", disabled = "disabled" } })

                </td>

            </tr>

            <tr>
                @*LECTURA MANOMETRO*@
                <td>
                    <label for="fullname" class="required">Lectura Manómetro AAr</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.manometer_aab_value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

                @*TIPO DE FLUJOMETRO*@
                <td>

                    <label for="fullname" class="required">Tipo de Flujómetro</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.type_flowmeter_id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

            </tr>

            <tr>
                @*LECTURA LOGGER AAR*@
                <td>

                    <label for="fullname" class="required">Lectura Logger AAr</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.logger_aar_value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

                @*CON EMISOR DE PULSOS*@
                <td>
                    <label for="fullname" class="required">Emisor de Pulsos</label>

                </td>

                <td>

                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.with_pulser, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.with_pulser, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>

                @*LECTURA MANOMETRO AAB*@
                <td>
                    <label for="fullname" class="required">Lectura Manómetro AAb</label>
                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.manometer_aar_value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                    </div>

                </td>

                @*FUE REEMPLAZADO EL EMISOR DE PULSOS*@
                <td>
                    <label for="fullname" class="required">¿Fue Reeplazado el Emisor de Pulsos?</label>
                </td>

                <td>

                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.pulser_changed, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.pulser_changed, "false", new { style = "width: 50px", disabled = "disabled" })No
                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>

                @*LECTURA DE LOGGER AAB*@
                <td>
                    <label for="fullname" class="required">Lectura Logger AAb</label>

                </td>

                <td>

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.logger_aab_value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.logger_aab_value, String.Empty, new { @class = "help-inline", @style = "color:red", disabled = "disabled" })

                    </div>

                </td>

                @*LITROS POR PULSOS*@
                <td>
                    <label for="fullname" class="required">Litros por Pulso</label>

                </td>

                <td>

                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.liters_per_pulser, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                    </div>

                </td>

            </tr>

        </table>

    </fieldset>

    <br>
    <br>
    <fieldset class="k-block">

        <h3>Detalles de la Cámara</h3>

        <table>

            <tr>
                @*POSICION DEL LOGGER*@
                <td>

                    <label for="fullname" class="required">Posición del Logger</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.logger_position, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                    </div>

                </td>

                @*BOMBA PARA DESAGUAR*@
                <td>
                    <label for="fullname" class="required">Se necesita Bomba para Desaguar?</label>

                </td>

                <td>

                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.necessary_drain, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.necessary_drain, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>
                @*CAMARA INUNDADA*@
                <td>
                    <label for="fullname" class="required">Cámara Inundada</label>
                </td>

                <td>
                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.flooded_chamber, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.flooded_chamber, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>


                @*MANIPULAR TRAFICO*@
                <td>
                    <label for="fullname" class="required">Se necesita Desviar/Manipular Trafico?</label>

                </td>

                <td>

                    <div>
                        <fieldset class="k-block">
                            @Html.RadioButtonFor(model => model.necessary_manipulate_traffic, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.necessary_manipulate_traffic, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>
                @*TIPO DE CAMARA*@
                <td>
                    <label for="fullname" class="required">Tipo de Cámara</label>

                </td>

                <td>

                    @Html.TextBoxFor(model => model.manometer_aar_value, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

                @*HERRAMIENTA PARA ABRIR CAMARA*@
                <td>
                    <label for="fullname" class="required">¿Es necesario Herramienta para apertura de Cámara?</label>

                </td>

                <td>
                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.necessary_tool_open_chamber, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.necessary_tool_open_chamber, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>

                @*CONDICIONES DE LA CAMARA*@
                <td>
                    <label for="fullname" class="required">Condición de La Cámara</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.chamber_condition, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

                @*TIPO DE CAMARA*@
                <td>
                    <label for="fullname" class="required">Tipo de Tapa de Camara</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.chamber_type_tap_id, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>
            </tr>

            <tr>

                @*DOS OPERADORES PARA ABRIR CAMARAA*@
                <td>
                    <label for="fullname" class="required">¿Se necesitaron 2 operadores para abrir la cámara?</label>

                </td>

                <td>

                    <div>
                        <fieldset class="k-block">
                            @Html.RadioButtonFor(model => model.two_thechnical_open_chamber, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.two_thechnical_open_chamber, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>
                </td>

            </tr>


        </table>

    </fieldset>

    <br>

    <br>

    <fieldset class="k-block">

        <h3>Canales Usados del Logger</h3>

        <table align="left">

            <tr>
                @*CANAL 1*@
                <td>
                    <label for="fullname" class="required">Canal 1</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.channel_1, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

                @*CANAL 3*@
                <td>

                    <label for="fullname" class="required">Canal 3</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.channel_3, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

            </tr>

            <tr>
                @*CANAL 2*@
                <td>
                    <div>
                        <label for="fullname" class="required">  Canal 2</label>
                    </div>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.channel_2, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                </td>

                @*CANAL 4*@
                <td>
                    <label for="fullname" class="required">Canal 4</label>
                </td>

                <td>
                    @Html.TextBoxFor(model => model.channel_4, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

            </tr>
        </table>

    </fieldset>

    <br>
    <br>


    <fieldset class="k-block">

        <h3>Equipamiento Utilizado(Por el Instalador)</h3>

        <table align="left">



            <tr align="left">

                @*TIPO DE LOGGER*@
                <td>
                    <label for="fullname" class="required">Tipo de Logger</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.logger_type, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                    </div>
                </td>

                @*BATERIA INSTALADA*@
                <td>

                    <label for="fullname" class="required">¿Batería Instalada?</label>

                </td>

                <td>
                    <div>
                        <fieldset class="k-block">

                            @Html.RadioButtonFor(model => model.battery_installed, "true", new { Checked = "checked", style = "width: 50px", disabled = "disabled" })Si
                            @Html.RadioButtonFor(model => model.battery_installed, "false", new { style = "width: 50px", disabled = "disabled" })No

                        </fieldset>
                    </div>

                </td>

            </tr>

            <tr>

                @*NUMERO SERIE BATERIA*@
                <td>
                    <label for="fullname" class="required">N/S Logger</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.logger_serial_number, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                    </div>

                </td>

                @*TIPO DE BATERIA*@
                <td>

                    <label for="fullname" class="required">Tipo de Bateria</label>

                </td>

                <td>
                    @Html.TextBoxFor(model => model.battery_type, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                </td>

            </tr>


            <tr>
                @*NUMERO SERIE BATERIA*@
                <td>
                    <label for="fullname" class="required">N/S Bateria</label>
                </td>

                <td>
                    <div class="col-md-10">
                        @Html.TextBoxFor(model => model.battery_serial_number, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })

                    </div>

                </td>

            </tr>
        </table>

    </fieldset>

    <br>
    <br>


    <fieldset class="k-block">

        <h3>Descripción Detallada</h3>

        <table align="left">

            <tr>
                @*SUBIR IMAGEN*@
                <td>
                    muestra imagen aca
                </td>

            </tr>

            <tr>
                @*COMENTARIOS*@
                <td>
                    <label for="fullname" class="required">Comentarios Instalador</label>
                </td>

                <td>
                    @Html.TextAreaFor(model => model.notes, new { @style = " background-color: #ffffff;width: 300px; height: 100px;", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.notes, String.Empty, new { @class = "help-inline", @style = "color:red", disabled = "disabled" })

                </td>



            </tr>

            <tr>
                @*FECHA Y HORA DE TERMINO*@
                <td>
                    <label for="fullname" class="required">Fecha termino</label>

                </td>

                <td>
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.creation_date, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                        @Html.ValidationMessageFor(model => model.creation_date, String.Empty, new { @class = "help-inline", @style = "color:red", disabled = "disabled" })
                    </div>

                </td>

            </tr>

        </table>

    </fieldset>

    <br />
    <br />

    <fieldset class="k-block">

        <h3>Descripción Detallada</h3>

        <table align="left">

            <tr>
                @*APROBAR*@
                <td>
                    <label for="fullname" class="required">Aprobar instalación</label>
                </td>

                <td>
                    @Html.RadioButtonFor(model => model.user_approval_status, "true", new { Checked = "checked", style = "width: 50px", @onclick = "ApproveYes()" })Si
                    @Html.RadioButtonFor(model => model.user_approval_status, "false", new { style = "width: 50px", @onclick = "ApproveNo()" })No

                </td>

            </tr>

            <tr>
                @*COMENTARIOS*@
                <td>
                    <label for="fullname" class="required">Comentarios rechazo</label>
                </td>

                <td>
                    @Html.TextAreaFor(model => model.user_approval_note, new { @style = " background-color: #ffffff;width: 300px; height: 100px;", disabled = "disabled" })
                    @Html.ValidationMessageFor(model => model.notes, String.Empty, new { @class = "help-inline", @style = "color:red" })

                </td>



            </tr>
        </table>

    </fieldset>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Create" class="btn btn-default" />
        </div>
    </div>

</div>


}
<script>
  
        function onSelect(e) {

            $("#kendoUploadImage").show();

        }

        function onSuccess(e) {

            var responseTxt = jQuery.parseJSON(e.XMLHttpRequest.responseText);

            var status = responseTxt.Status;
            var srcValue = responseTxt.PictureUrl;
            alert(srcValue);
            if (status == true) {
                $("#imgUploaded").attr('src', srcValue);
            } else {
                $("#imgUploaded").attr('src', srcValue);
                $("#kendoUploadImage").hide();
            }

        }

        function ApproveNo() {
            $("#user_approval_note").prop("disabled", false); 
        }
        function ApproveYes() {
            $("#user_approval_note").prop("disabled", true);
        }


</script>

<style scoped>
    .k-textbox {
        width: 20.8em;
    }

    .k-content2 {
        float: left;
        border-spacing: 0;
        width: 100%;
        border-width: 0;
        margin: 0;
        table-layout: fixed;
        text-align: left;
        outline: 0;
        align-content: flex-start;
        align-items: flex-start;
    }





    #students {
        width: 510px;
        margin: 30px auto;
        padding: 10px 20px 20px 170px;
    }

        #students h3 {
            font-weight: normal;
            font-size: 1.4em;
            border-bottom: 1px solid #ccc;
        }

        #students ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
        }

        #students li {
            margin: 10px 0 0 0;
        }

    label {
        display: inline-block;
        width: 100px;
        text-align: left;
    }

    .required {
        font-weight: bold;
    }

    .accept {
        padding-left: 90px;
    }

    .status {
        padding-left: 90px;
        padding-bottom: 550;
    }

    .valid {
        color: green;
    }

    .invalid {
        color: red;
    }

    span.k-tooltip {
        margin-left: 1px;
    }

    #frmSearch label {
        display: inline-block;
        width: 120px;
        padding-right: 5px;
        text-align: right;
    }

    #frmSearch .k-button {
        margin: 20px 0 0 125px;
    }

    #frmSearch .k-readonly {
        color: gray;
    }

    .demo-section {
        width: 600px;
    }

    .k-content1 > table > tbody > tr {
        cursor: pointer;
        align-content: flex-end;
    }
</style>



